[submodule "NeuroMotion"]
	path = NeuroMotion
	url = https://github.com/shihan-ma/NeuroMotion.git
[submodule "repo/CEINMS"]
	path = repo/CEINMS
	url = https://github.com/CEINMS/CEINMS.git
[submodule "repo/Caillet-et-al-2022-PLOS_Comput_Biol"]
	path = repo/Caillet-et-al-2022-PLOS_Comput_Biol
	url = https://github.com/ArnaultCAILLET/Caillet-et-al-2022-PLOS_Comput_Biol.git
[submodule "repo/musculoskeletal-stiffness"]
	path = repo/musculoskeletal-stiffness
	url = https://github.com/mitkof6/musculoskeletal-stiffness.git
